<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
  <%= f.password_field :password, :autocomplete => "off" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
  <%= f.password_field :current_password %>

  <div><%= f.submit "Update", class: "btn account-update-btn" %></div>
<% end %>

<h5> Please contact hello@sugarcare.org if you would like to de-activate your account. </h5>

<%= link_to "Back", :back %>

<style>
  .account-update-btn {
  padding: 7px 20px;
  *margin-left: .5em;
  line-height: 24px;
  *line-height: 24px;
  text-decoration: none;
  text-align: center;
}
</style>
