<div class="get-more-clients-txt">
	SugarCare is the best way for Caregivers to be seen by new clients. Caregiver profiles will always be free.
  <h5>To signup on SugarCare, you must work at an organization that provides up to date training, bonding, insurance and background checks.</h5></div>
<br>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), multipart: true) do |f| %>

<% if resource.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(resource.errors.count, "error") %> prohibited this caregiver from being saved:</h2>

  <ul>
    <% resource.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<style>

.get-more-clients-txt {
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 30px;
}

  .instructions {
    float: right;
    display: inline-block;
    margin-top: 23px;
    line-height: 30px;
  }
    .avatar-upload {
      margin-bottom: 20px;
  }
  .register-btn {
  padding: 7px 20px;
  *margin-left: .5em;
  line-height: 24px;
  *line-height: 24px;
  text-decoration: none;
  text-align: center;
}


</style>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <br>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <br>
    <%= f.input :phone_number, :input_html => {:maxlength =>10} %>
    <%= f.input :city %>
    <%= f.input :zip_code, :input_html => {:maxlength =>5} %>
    <%= f.input :organization, :label => "Organization, Agency or Employer", :placeholder => "Required, but not shown in Caregiver profile.", :input_html => {:style=> 'width: 500px'} %> 
    <%= f.input :job_title, :placeholder => "Personal Care Assistant, RN, Case Manager etc.", :input_html => {:style=> 'width: 320px'} %>
    <%= f.input :years_experience, :input_html => {:maxlength =>2,:style=> 'width: 40px'}%>

<div class="instructions"> Briefly describe your past experience and training. 
<br>
What conditions, diagnosis or disease states do you have experience with? 
<br>
What languages do you speak?
<br>
Say some interesting things about yourself. Like, what are your hobbies?
<br>
Please also note your availability here. 
<br>
<br>
<b>500 Character Limit</b>
</div>

<%= f.input :bio, :input_html => {:maxlength =>500, :rows => 10, :style=> 'width: 430px'}%>
<br>
<div class="avatar-upload">
<p>Upload Photo - Smiling headshots work best! :)</p>

<%= f.file_field :avatar %>
</div>



<%= f.submit "Sign up", class: "btn register-btn" %>	
<% end %>

