<%= simple_form_for(@caregiver) do |f| %>
  <% if @caregiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caregiver.errors.count, "error") %> prohibited this caregiver from being saved:</h2>

      <ul>
      <% @caregiver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <br>
    <br>
    <%= f.input :email %>
    <%= f.input :phone_number, :input_html => {:maxlength =>14} %>
    <br>
    <br>
    <%= f.input :city %>
    <%= f.input :zip_code, :input_html => {:maxlength =>5} %>
    <%= f.input :Organization %>
    <%= f.input :job_title %>
    <%= f.input :years_experience, :input_html => {:maxlength =>2,:style=> 'width: 40px'}%>

<div class="instructions"> Briefly describe your past experience and training. 
<br>
What conditions, diagnosis or disease states do you have experience with? 
<br>
What languages do you speak?
<br>
Say some interesting things about yourself. Like, what are your hobbies?
<br>
Please also note your availability here. 
<br>
<br>
<b>*500 Character Limit*</b>
</div>


<%= f.input :bio, :input_html => {:maxlength =>500, :rows => 10, :style=> 'width: 430px'}%>

<div class="avatar-upload">
  <p> Upload a new image to change photo. </p>
<%= f.file_field :avatar %>
</div>


  <div class="actions">
    <%= f.submit "Save Changes", class: "btn update-profile-btn" %>
  </div>
<% end %>

<style>

  .update-profile-btn {
  padding: 7px 20px;
  *margin-left: .5em;
  line-height: 24px;
  *line-height: 24px;
  text-decoration: none;
  text-align: center;
}
</style>