<h2>See Caregivers who work at in-home care providers near you.</h2>

<div class="caregiver-search">
<%= simple_form_for :zipcode, :url => caregivers_path, :html => {:class => "form-search"}, :method => "get" do |f| %>
<%= f.input_field :zipcode, :placeholder => "Enter Zipcode...", :html => {:class => 'search-query'} %>
<%= f.submit "Search Caregivers", :class => "btn search-caregivers-btn" %>
<% end %>
</div>

<% @caregivers.each do |caregiver| %>

<div class="caregiver">

<div class="return-caregiver-image">
 <%= image_tag caregiver.avatar.url(:square) %>
 </div>


<div class= "return-profile-info">
<div class= "name-profile-headline">
<%= caregiver.first_name %>
<%= caregiver.last_name.first %>.
</div>

<div class="job-title-city">
<%= caregiver.job_title %><br>
<%= caregiver.city %>
</div>

<div class="meta">
<%= link_to "Show", caregiver, class: "btn show-btn" %>
</div>
		
</div>


</div>
<%end%>

<style>
select,
textarea,
input[type="text"],

.search-query .uneditable-input {
display: inline-block;
height: 40px;
padding: 20px 20px;
margin-top: 30px;
margin-bottom: 20px;
font-size: 22px;
line-height: 25px;
color: #555555;
vertical-align: middle;
-webkit-border-radius: 7px;
   -moz-border-radius: 7px;
        border-radius: 7px;
}

input,
textarea,
.uneditable-input {
width: 306px;
}

textarea {
height: auto;
}

textarea,
input[type="text"],
.search-query .uneditable-input {
background-color: #ffffff;
border: 2px solid #c5c5c5;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
   -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
     -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
}


</style>