<h2>See Caregivers who work at in-home care providers near you.</h2>

<style>
select,
textarea,
input[type="text"],

.search-query .uneditable-input {
display: inline-block;
height: 40px;
padding: 20px 20px;
margin-top: 30px;
margin-bottom: 20px;
font-size: 22px;
line-height: 25px;
color: #555555;
vertical-align: middle;
-webkit-border-radius: 7px;
   -moz-border-radius: 7px;
        border-radius: 7px;
}

input,
textarea,
.uneditable-input {
width: 306px;
}

textarea {
height: auto;
}

textarea,
input[type="text"],
.search-query .uneditable-input {
background-color: #ffffff;
border: 2px solid #c5c5c5;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
   -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
     -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
}

.minnesota-california {
	margin-top: -37px;
	margin-left: 145px;
	font-size: 12.5px;
}
</style>

<div class="minnesota-california">
	<p>*We've launched in Minnesota and California.</p>
</div>

<%= paginate @caregivers %>

<div class="caregiver">
<table>
  <tr>
	<th>Photo</th>
    <th>Last Name</th>
	<th>First Name</th>
	<th>Job Title</th>
	<th>City</th>
	<th>Zip Code</th>
  </tr>
<% @caregivers.each do |caregiver| %>
  <div class="return-caregiver-image">
  <tr>
	<td>
    <%= image_tag caregiver.avatar.url(:square) %>
    </td>
	<td>
    <%= caregiver.last_name %>
    </td>
	<td>
    <%= caregiver.first_name %>
    </td>
	<td>
    <%= caregiver.job_title %>
    </td>
	<td>
    <%= caregiver.city %>
    </td>
	<td>
    <%= link_to "Show", caregiver, class: "btn show-btn" %>
    </td>
  </tr>
  </div>
<% end %>
</table>
</div>

<%= paginate @caregivers %>
<% # Parameters to display:
# Avatar
# First name
# Last name
# Job title
# City
# Zip code
%>

