<style>
                      

</style>

<div class="sc-verified">
        <%= image_tag('sc-verified.png') %>
    </div>

 <div class="caregiver-avatar">
 <%= image_tag @caregiver.avatar.url(:square) %>
</div>

 <div class="caregiver-basics">
  <div class= "name-profile-headline">
 	<%= @caregiver.first_name %> <%= @caregiver.last_name.first %>.
 </div>

<p>
  <div class="caregiver-job-title">
  <b>Job Title:</b>
  <%= @caregiver.job_title %>
</div>
</p>

<p>
  <b>Years Experience:</b>
  <%= @caregiver.years_experience %>
</p>

<p>
  <b>City:</b>
  <%= @caregiver.city %>
</p>

<p>
  <b>Zip Code:</b>
  <%= @caregiver.zip_code %>
</p>
</div>

<br>
<p>
 <p><b>Bio:</b></p>
  <%= @caregiver.bio %>
</p>
<br>

<b> Requesting an interview is Free! Please include the best way to contact you.</b>

<div>
      <%= mail_to "hello@sugarcare.org", "Request an Interview", :class => "btn request-interview-btn", :subject => "Request Caregiver Interview", :body => "I would like to schedule an interview with #{@caregiver.first_name} #{@caregiver.last_name.first}.









**Please include a brief description of care needed, start date, and your contact information. Thank you!
Original Caregiver URL: #{caregiver_url(@caregiver)}" %>
</div>
