<p id="notice"><%= notice %></p>


 <p>
 	<b>First Name:<b>
 	<%= @caregiver.first_name %> 
 </p>

 <p>
	<b>Last Name:<b>
 	<%= @caregiver.last_name.first %>.
 </p>


<p>
  <b>Job Title:</b>
  <%= @caregiver.job_title %>
</p>

<p>
  <b>Years Experience:</b>
  <%= @caregiver.years_experience %>
</p>

<p>
  <b>Zip Code:</b>
  <%= @caregiver.zip_code %>
</p>

<p>
  <b>Bio:</b>
  <%= @caregiver.bio %>
</p>

<%= link_to 'Edit', edit_caregiver_path(@caregiver) %> |
<%= link_to 'Back', caregivers_path %>

<div>
      <a class="btn" href="#">Request an Interview</a>
</div>