<!DOCTYPE html>
<html>
<head>
  <title>Sugarcare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Main Navigation Links -->
  <div id="front-page-nav" class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "SugarCare.org", caregivers_path, :class => "brand" %>
        <ul class="nav">
          <li>
            <a href="http://localhost:3000/how_does_it_work.html">
              How Does It Work?
            </a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li> 
            <% unless caregiver_signed_in? then %> <%= link_to 'Sign up as a Caregiver', new_caregiver_registration_path %> <% end %></li>
          <% if caregiver_signed_in? %>
          <li>
            <%= link_to "Edit Profile", edit_caregiver_path(current_caregiver) %>
          </li>
          <% end %>
          <li>
            <%= link_to "Log In", new_caregiver_session_path unless caregiver_signed_in? %>
            <%= link_to "Log Out", destroy_caregiver_session_path, :method => :delete if caregiver_signed_in? %>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="logo">
        <%= link_to image_tag( 'sugarcare.png'), caregivers_path  %>
    </div>

<p class="notice"><%= notice %></p>


    <%= yield %>

  </div>
</body>
</html>