<!DOCTYPE html>
<html>
 <head>

<title>SugarCare</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

  <style>
* {
  margin: 0;
  padding: 0;
}

html, body {
height: 90%;
}

#main-container {
  min-height: 100%;
  margin: 0 0 0px 0;
}
#footer {
  height: 130px;
  margin: 0px 0 0 0;
  background-color: #f5f5f5;
  padding-top: 25px;
}

.notice {margin-top: 130px;
    }

  #wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto 100px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
</style>


<!-- Facebook Registration click through conversion tracking
========================================================================== -->
<script type="text/javascript">
  var fb_param = {};
  fb_param.pixel_id = '6011611621760';
  fb_param.value = '0.00';
  fb_param.currency = 'USD';
  (function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
  })();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6011611621760&amp;value=0&amp;currency=USD" /></noscript>


</head>
<body>
<div id="main-container">
<!-- Main Navigation Links -->
  <div id="front-page-nav" class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">

     <!-- Main SugarCare Logo -->
     <div class="logo">
        <%= link_to image_tag( 'sc_transparent.png'), caregivers_path  %>
     </div>
        <%= link_to "SugarCare.org", caregivers_path, :class => "brand" %>
        <ul class="nav">
        </ul>
        <ul class="nav pull-right">
          <li> 
            <% unless caregiver_signed_in? then %> <%= link_to 'Sign up as a Caregiver', new_caregiver_registration_path %> <% end %></li>
          <% if caregiver_signed_in? %>
          <li>
            <%= link_to "Edit Profile", edit_caregiver_path(current_caregiver) %>
          </li>
          <% end %>
          <li>
            <%= link_to "Log In", new_caregiver_session_path unless caregiver_signed_in? %>
            <%= link_to "Log Out", destroy_caregiver_session_path, :method => :delete if caregiver_signed_in? %>
          </li>
        </ul>

      </div>
    </div>
  </div>


<!-- Application
================================================== -->
<div class="container">
  
<p class="notice"><%= notice %></p>

    <%= yield %>
    
</div>
</body>
</div>
<div id="footer">

<div class="container">
<div class="social">
<!-- Twitter Follow SugarCare
================================================== -->
<a href="https://twitter.com/SugarCare" class="twitter-follow-button" data-show-count="false">Follow @SugarCare</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<!-- Twitter, Tweet this!
================================================== -->
 <!--      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sugarcare.org" data-text="Make a Caregiver Profile on SugarCare!" data-via="SugarCare">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->


<!-- Facebook HTML 5 Like and Send
================================================== -->
<!-- <div class="fb-like" data-href="http://www.sugarcare.org" data-width="450" data-show-faces="false" data-send="true"></div> -->
</div>

<div>
<p>
Built in Minneapolis and San Francisco
</p>
</div>

<div>
<p>
Copyright 2013.
</p>
</div>

<div class="footer-email">
<p>
<a href="mailto:hello@sugarcare.org?Subject=Hello%20SugarCare!" target="_top">hello@sugarcare.org</a>
</p> 
</div>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-37565509-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</div>
</div>
</html>